<script src="/js/cart.js" defer></script>

<style>
    .cart-main{
        display: grid;
        grid-template-columns: 25vw 20vw 10vw;
        padding-left: 5vw;
        column-gap: 8vw;
        border: 3px solid black;
        padding-bottom: 8vh;
        padding-top: 8vh;
    }
    .hidden{
        display: none;
    }
    .unhidden{
        display: inline-block;
    }
    p{
        margin: 14px;
    }
    button{
        width: 8vw;
        height: 2vw;
        border-radius: 20px;
        margin: 12px;
    }
    .calculation p{
        background-color: white;
        color: black;
    }
</style>

{{#if user.cart}}
<form action="/payment" method="post">
    <h1>Checkout</h1>
        <p class="inputerrortext">
            {{#if err}}
                {{#each err}}
                    {{this}}<br>
                {{/each}}
            {{/if}}
    </p>
<section class="cart-main">
<div>
    <p>Customer details</p>
    <input type="text" name="name" id="fname" placeholder="Enter your name " required>
    <input type="email" name="email" id="email" placeholder="Enter your email" required>
    <p>WOULD YOU LIKE TO JOIN AS A MEMBER</p>
    <p> Members get unlimited classes, for a low monthly price.<p>
        <input type="radio" class="radio" name="membership"  value="yes" id="yes" checked><label for="membership">Yes</label>
        <input type="radio" class="radio" name="membership"  value="no" id="no"><label for="membership">No</label>
        <select name="membershipPass" id="memberpassinput">
            <option value="monthly">Monthly pass</option>
            <option value="yearly">Yearly Pass</option>
        </select>

    <p> PAYMENT INFORMATION </p>
    <input type="text" name="creditcardnumber" placeholder="Enter Credit card number" maxlength="16" required>
    <input type="text" name="creditcardexpiry" placeholder="MMYY" maxlength="4" required>
    <button type="submit"> PAY</button>
    </form>

</div>
<div id="cartcontainer">
    <h1>Cart</h1>
{{#each user.cart}}

        <form action="/deletecartitem/{{lessonid}}" method="post">
                <p name={{lessonname}} class="lessonheader">{{lessonname}} with:
                {{lessoninstructor}}</p>
                <input name="duration" class="duration" value={{lessonduration}} type="hidden">
                <p name={{lessonduration}} class="lessonduration">duration: {{lessonduration}} min</p>
                <button type="submit">Remove</button>
                <p id="testing"></p>
        </form>

{{/each}}
</div>
<div id="calculation"></div>



</section>  
{{else}}

<h1 class="tilteh1">There is nothing in cart</h1>

<a href="/class"><button type="button" class="lessontoregisterbtn">Explore Classes</button></a>


{{/if}}

<input type="hidden" id="monthcost" value={{monthcost}}> </input>
<input type="hidden" id="yearcost" value={{yearcost}}> </input>
