<script src="/js/cart.js" defer></script>


<style>
    .cart-main{
        display: grid;
        grid-template-columns: 30vw 10vw;
        padding-left: 25vw;
        column-gap: 20px;
        border: 3px solid black;
    }

</style>
{{#if user.cart}}
<h1>Checkout</h1>
<section class="cart-main">
<div>
    <p>Customer details</p>
    <input type="text" name="name" id="fname" placeholder="Enter your name ">
    <input type="email" name="email" id="email" placeholder="Enter your email">
    <p>WOULD YOU LIKE TO JOIN AS A MEMBER</p>
    <p> Members get unlimited classes, for a low monthly price.<p>
        <input type="radio" name="membership" checked value="yes" id="yes"><label for="membership">Yes</label>
        <input type="radio" name="membership"  value="no" onclick="membership(no)"><label for="membership">No</label>
        <select name="membershipPass" id="memberpassinput">
            <option value="monthly">Monthly pass</option>
            <option value="yearly">Yearly Pass</option>
        </select>

    <p> PAYMENT INFORMATION </p>
    <input type="text" placeholder="Enter Credit card number">
    <input type="text" placeholder="Enter expiry">
    <button>PAY</button>

</div>
<div id="cartcontainer">
    <h1>Cart</h1>
{{#each user.cart}}

        <form action="/deletecartitem/{{lessonid}}" method="post">
                <p name={{lessonname}} class="lessonheader">{{lessonname}} with:
                {{lessoninstructor}}</p>
                <input name="duration" id="duration" value={{lessonduration}} type="hidden">
                <p name={{lessonduration}} class="lessonduration">duration: {{lessonduration}} min</p>
                <button type="submit">Remove</button>
                <p id="testing"></p>
        </form>

{{/each}}
</div>
<div id="calculation"></div>

</section>  
{{else}}

<h1 class="tilteh1">There is nothing in cart</h1>

{{/if}}
