<link rel="stylesheet" href="/css/timetable.css">
<script src="/js/class.js" defer></script>

<h1 class="tilteh1">
    Avaliable Classes
</h1>
{{#if err}}
    {{err}}
{{/if}}

{{#each data}}
    <form id={{_id}} action="/addcart/{{_id}}" method="post" class="lessonrow">
        <div class="lessonimgcontainer">
            <img src="{{this.img}}" class="lessonimg">
        </div>
        <div class="leassontextcontainer">
            <div>
                <p class="lessonheader">{{name}}</p> with 
                <p class="lessoninstrctor">{{instructor}}</p>
            </div>
            <div>
                <p>duration</p>
                <p class="lessonduration">{{duration}} min</p>
            </div>
        
            {{#if ../user.login}}
                <button class="lessontoregisterbtn" type="submit">Book now</button>
            {{else}}
                <button id="lessonredirectbtn" class="lessontoregisterbtn" type="button">Book now</button>
            {{/if}}
        </div>
    </form>
{{/each}}

{{#each user.cart}}
    <input type="hidden" value={{this}}>
{{/each}}