<link rel="stylesheet" href="/css/timetable.css">
<script src="/js/class.js" defer></script>

<h1 class="tilteh1">
    Avaliable Classes
</h1>
{{#if err}}
    {{err}}
{{/if}}

{{#each data}}
    <form id={{_id}} action="/addcart/{{_id}}" method="post" class="lessonrow">
        <div class="lessonimgcontainer">
            <input name="img" value={{img}} type="hidden">
            <img name={{img}} src="{{img}}" class="lessonimg">
        </div>
        <div class="leassontextcontainer">
            <div>
                <input name="name" value={{name}} type="hidden">
                <p name={{name}} class="lessonheader">{{name}}</p> with 
                <input name="instructor" value={{instructor}} type="hidden">
                <p name={{instructor}} class="lessoninstrctor">{{instructor}}</p>
            </div>
            <div>
                <p>duration</p>
                <input name="duration" value={{duration}} type="hidden">
                <p name={{duration}} class="lessonduration">{{duration}} min</p>
            </div>
        
            {{#if ../user.login}}
                <button class="lessontoregisterbtn" type="submit">Book now</button>
            {{else}}
                <button id="lessonredirectbtn" class="lessontoregisterbtn" type="button">Book now</button>
            {{/if}}
        </div>
    </form>
{{/each}}

{{#each user.cart}}
    <input class="cartitems" type="hidden" value={{this.lessonid}}>
{{/each}}